<!DOCTYPE html>
<html>
  <head>
    <title>Jiraj</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="grid-container">
    <header class="row">
      <div>
        <a class="brand" href="index.html">Flash</a>
      </div>
      <div>
        <a class="cart" href="cart">Cart</a>
        <a class="signin" href="signin">SignIn</a>
      </div>
    </header>
    <main>
      <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
      </ul>
    </main>
    <footer class="base">All rights reserved</footer>
  </body>
</html>
